.heading{
    background-color: white;
    height: auto;
}
.heading {
    position: fixed;
    top: 0 !important;
    z-index: 1;
  }


.sec2{
   
    background-color: #333;
}

.sec3{
   
    background-color:black;
}